body {
    /* border: 5px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    height: 100vh;


}

@media only screen and (max-width: 800px) {
    .container {
        margin-top: 12rem;
    }
}

.container {

    background-image: url(./Image/bg-bottom.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    /* border: 1px solid black; */
    width: 60%;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
    /* align-content: center; */
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 5px 5px 15px rgb(165, 157, 157);

}

.box {

    padding: 0.8rem;

}

#box1 {
    font-size: 2rem;
}


#box3 {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 2px solid red; */
    gap: 0.5rem;
}

@media only screen and (max-width:1233px) {

    #box3 {
        flex-wrap: wrap;
        justify-content: center;
        /* border: 2px solid red; */
        align-items: center;
        flex-direction: column;
    }
}

.pricing {
    /* border: 1px solid black; */
    height: 18rem;
    width: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0.8rem;
    transition: all 1s;
    /* animation: abc; */
    background-color: rgb(250, 246, 246);
    box-shadow: 5px 5px 15px rgb(165, 157, 157);

}

.pricing2 {
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.group1 {
    border-bottom: solid 0.1px rgb(226, 217, 217, 0.7);
    padding-bottom: 1rem;
    width: 70%;
    text-align: center;
}

.pricing6 {
    background-color: blue;
    border-radius: 0.4rem;
    color: white;
    padding: 0.5rem;
    width: 70%;
}

.pricing:hover {
    background-color: rgb(143, 143, 231);
    transform: scale(1.2);

}

.pricing:hover>.pricing6 {
    background-color: white;
    color: rgb(143, 143, 231);

}

.pricing:hover>.group1 {
    color: white;

}